### Input and Output Methods
- reading data or information from the user----***input()***
     - Static input
     - Dynamical input
- displaying the information or data to the user----***print()***

In [2]:
a=20
b=30
print(a)
print(b)

20
30

In [4]:
a=input()
a

345

'345'

In [5]:
a=input("enter user value")
a

enter user value567

'567'

In [6]:
a=float(input("enter user value"))
a

enter user value345

345.0

In [1]:
a=input("enter value")
print(a)

enter value567
567

In [8]:
a=20
b=30
c=50
print(a,b,c)
print(c)

20 30 50
50

In [10]:
a=20
b=30
c=50
print(a,b,c,sep=",")
print(c)

20,30,50
50

In [11]:
a=20
b=30
c=50
print(a,b,c,sep=",",end="%")
print(c)

20,30,50%50

In [12]:
a=20
b=30
c=50
print(a,b,c,sep=",",end="\n")
print(c)

20,30,50
50

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [14]:
# generate the three values from the user ,that values seperated with $ and end with %
a=input("enter 1st value")
b=input("enter 2nd value")
c=input("enter 3rd value")
print(a,b,c,sep="$",end="%")

enter 1st value23
enter 2nd value67
enter 3rd value56
23$67$56%

### Operators
- Arithmatic operators(+,-,*,**,/,//,%)
  - output for the normal division is quotient
  - output for the int division or floor division is 
    interger part of the quotient
  - output for the modulo division is reminder
- Assignment operators(=)
- comparision operators(<,>,<=,>=,==)
- Logical operators(and,or,not)
- Bitwise operators(&,|,^)
- Identity operators(is (==),isnot(!=)
- Membership operators(in,notin)

### Arithmatic operators

In [15]:
a=56
b=32
print("addition",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or floor division",a//b)
print("modulo divisiom",a%b)

addition 88
subtraction 24
multiplication 1792
power 87501775260248338795649138639242377629452267851964481536
division 1.75
int division or floor division 1
modulo divisiom 24

### Assignment operator
- it represented with =
- leftside value of the operator(=) is called as avariable
- rightside value of the variable(=) is called as value

In [16]:
a=20
b=59
print(a)
print(b)

20
59

### Comparation operator

In [17]:
2>5

False

In [18]:
2<6

True

In [20]:
if 2>9 and 2<=6:
    print("print true or false")
else:
    print("sdyhk")

sdyhk

In [21]:
2>=7

False

In [22]:
3<=5

True

### Logical operators
- and,or,not
- if all the inputs are true the output is true(and).
- if any of the input is true the output is true(or).
- opposite operation for the given one.

In [23]:
2<5 and 3>6

False

In [24]:
2>5 and 3<6

False

In [25]:
3<9 and 4>0

True

In [26]:
4<8 or 5>2

True

In [27]:
5>9 or 8<3

False

In [28]:
a=100
not a

False

### Bitwise operator

In [32]:
2 & 3
# 2- 0 0 1 0
# 3- 0 0 1 1
# --------------
#  - 0 0 1 0

2

In [30]:
3|4

7

In [31]:
2^3

1

In [33]:
2<<3

16

In [34]:
2>>3

0

### Identity operator

In [35]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-35-f0aacb0ed310>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
<ipython-input-35-f0aacb0ed310>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [36]:
a==100 and a!=100

False

### Membership operator

In [37]:
s=[1,2,4,6,8,9]
4 in s

True

In [38]:
10 not in s

True

In [39]:
2 not in s

False

In [41]:
a=20
a=a+1
a

21

In [42]:
a=45
a+=1 ---->a=a+1
a-=1 ---->a=a-1
a*=1 ----->a=a*1
a/=1 ----->a=a/1

In [43]:
a

46

### Flow control
- Conditional statements(if,else,elif,nestedif)
- Loops(for,while)
- Break,Return

In [ ]:
# c-language
if(condition){
    print(a)
}

### Conditional statements

In [ ]:
# if 
if (condition):
    statement1
    statement2
    statement3
    ---------
    statementn

In [ ]:
#if-else
if (condition):
    statement1
    statement2
    statement3
    ---------
    statementn
else:
    statement1
    statement2
    ---------
    statementn

In [46]:
if 2>3:
    print("True")
    print("False")

In [47]:
if 2>3:
    print("True")
else:
    print("False")

False

In [49]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number34
even number

In [51]:
#given number is zero or positive or negative
n=int(input("enter value"))
if(n==0):
    print("zero")
elif(n>0):
    print("positive")
else:
    print("negative")

enter value34
positive

In [53]:
# number is divisible by 2 but not divisible by 10
a=23
if a%2 is 0 and a%10 is not 0:
    print("valid number")
else:
    print("invalid number")

invalid number

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-53-fa4ac4ee8789>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a%2 is 0 and a%10 is not 0:
<ipython-input-53-fa4ac4ee8789>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if a%2 is 0 and a%10 is not 0:

In [54]:
a=23
if a%2==0 and a%10!=0:
    print("valid number")
else:
    print("invalid number")

invalid number

### Range
- syntax for the range is range(start,endvalue,step value)
- starting value is inclusive and end value is exclusive

In [ ]:
range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
#20,25,30,35,40
range(50)
# consider value
as start range(20,30)
# comsider start value and end value
# reverse print
range(10,1,-1)

In [56]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [57]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [59]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [61]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### Loops
- for,while
- For Loop:::A for loop in Python is a control flow statement 
that is used to 
repeatedly execute a group of statements as long as the 
condition is satisfied. 
Such a type of statement is also known as an iterative statement.
Therefore, 
a for loop is an iterative statement.

In [ ]:
syntax:::
    for iter in iterable: # range predefined function in the position of iterable
        statement1
        statement2
        statementn

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [8]:
for i in range(0,11,2):
    print(i,end=" ")

0 2 4 6 8 10

In [12]:
# print the even numbers in the range of 0 to 100 
# and print even number count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
print("\neven number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
even number count: 51

In [13]:
c=0
for i in range(0,101):
    if i%2==0:
        c=c+1
        print(i,end=" ")
print("\neven number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
even number count: 51

In [15]:
# print leap years from the range of 2000 to 2020,print years count also
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if (i%400==0) and (i%100!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
print("\nyears count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
years count: 6

In [16]:
n=5
for i in range(1,11):
    print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [28]:
#print factors of 5
n=int(input())
for i in range(1,n+1):
    if (n%i==0):
        print(i,end=" ")

10
1 2 5 10

In [31]:
# I/P=aba
# 97+98+97=292
# o/p 292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

ABC
198

In [34]:
# Check the given number is prime or not
n=int(input())
c=0
for i in range(1,n+1):
    if (n%i==0):
        c=c+1
if(c==2):
    print("prime number")
else:
    print("not prime number")

5
prime number

In [35]:
# 0-10
#even numbers:
#odd numbers:
s=int(input())
e=int(input())
print("Even numbers are:",end=" ")
for i in range(s,e+1):
    if i%2==0:
        print(i,end=" ")
print("\nOdd numbers are:",end=" ")
for i in range(s,e+1):
    if i%2!=0:
        print(i,end=" ")

0
10
Even numbers are: 0 2 4 6 8 10
Odd numbers are: 1 3 5 7 9